<Project>
  <PropertyGroup>
    <WebPublishMethod>FileSystem</WebPublishMethod>
    <Configuration>Release</Configuration>
    <TargetFramework>net8.0</TargetFramework>
    <PublishDir>bin\Release\net8.0\publish\</PublishDir>
    <DeleteExistingFiles>true</DeleteExistingFiles>
    <SelfContained>false</SelfContained>
  </PropertyGroup>
</Project>
